<div class="artisan">
    <div class="container">
        <div class="artisanall">
            <div class="artisanbox">
                <a href="">Zəng et</a>
                <a href="">Whatsapp</a>
            </div>
        </div>
    </div>
</div>

<div class="artisanboxone">
    <div class="container">
        <div class="artboxone">
            <h1>Peşakarlar tərəfindən ödənişsiz məsləhət</h1>
            <p>
                Bizim yüksək təcrübəli peşakarlar vasitəsi ilə sizə tentlərimiz harda qurmaq daha əlverişli olar deyə
                məsləhətlərmiz tam ödənişsiz olaraq həyata keçiririk Bundan faydalanmaq sizin üçün cox önəmli ola
                bilər . Elə isə buyurun elə vaxt itirmədən tentləriniz bizimlə daha güvənli tədbirlərnizi möhtəşəm
                edin.
            </p>
            <div class="spanline">
                <hr>
            </div>
        </div>
    </div>
</div>