<div class="equipment">
    <div class="container">
        <div class="equipmentall">
            <div class="equipmentbox">
                <a href="">Zəng et</a>
                <a href="">Whatsapp</a>
            </div>
        </div>
    </div>
</div>

<div class="equipmentboxone">
    <div class="container">
        <div class="equipboxone">
            <h1>Tədbirlər üçün lazım olan avadanlıqlar</h1>
            <p>Biz sizə tədbirlərinizdə lazım olan bütün avadanlığlarla təmin edirik. Təbii ki bunlar hamısı sizin aldığınız tent paketinin içindədir bunlar sizı tam ödənişsiz şəkildə təhvil verilir . Və bunlarla tədbirlərinizi dahada fəqrli görünüşdə edə bilərsiniz</p>
            <div class="spanline">
                <hr>
            </div>
        </div>
    </div>
</div> 