@{
    ViewData["Title"] = "Home Page";
}

<div class="imgtop">
    <div class="imgall">
        <div class="imgtent">
            <h1>BMS TENT</h1>
            <h2>TENTLƏRİN İCARƏSİ</h2>
            <a href="">Ətraflı</a>
        </div>
    </div>
</div>

<div class="infotop">
    <div class="container">
        <div class="infotext">
            <h1>Bakıda Tent və Çadırların Sərfəli Qiymətə İcarəsi</h1>
            <p>
                On ildən artıqdır ki, Bakıda münasib qiymətə tent çadır satışı və icarəsi ilə məşğul olan şirkətimiz
                bazarda ən çox tələb görən firmalardan biridir. Bu səbəbdəndir ki, şirkətimizin təklif etdiyi
                məhsullar bu gün Baku və Azərbaycanda bir çox dövlət səviyyəli tədbirlərin keçirilməsində istifadə
                olunur. Tentləri istəyə görə istənilən formada və ölçüdə hazırlaya bilərik. Sərfəli qiymetə tent
                çadır üçün bizimle elaqe saxlayin.
            </p>
        </div>
    </div>
</div>

<div class="spanline">
    <hr>
</div>

<div class="tentservis">
    <div class="container">
        <div class="allservis">
            <div class="tentbox">
                <a href=""><i class="fa-regular fa-circle-check"></i></a>
                <h5>Tent növü seçin</h5>
                <p>Hər növ və dizayna uyğun olaraq tentlər təklif edirik: modern, kalssik və s.</p>
            </div>
            <div class="tentbox-blue">
                <a href=""><i class="fa-solid fa-shop"></i></a>
                <h5>Sifarişlə bağlı istəklərinizi bildirin</h5>
                <p>İzolyasiya, ölçü və həmçinin istifadə olunacaq materialları bildirin.</p>
            </div>
            <div class="tentbox">
                <a href=""><i class="fa-solid fa-location-dot"></i></a>
                <h5>Tenti ünvana çatdıraq</h5>
                <p>Təyinat yerindən asılı olaraq sifariş olunan tentin ünvana çatdırılması.</p>
            </div>
        </div>
    </div>
</div>

<div class="youcart">
    <div class="container">
        <div class="youcartpage">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="youcartimg">
                        <img src="~/IMAGE/tent3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="youcartext">
                        <h1>BMS TENT</h1>
                        <p>
                            Biz <span>BMS TENT </span>biznesi olaraq tədbir yerləriniz üçün tent sifarisi
                            xidmətlərini təklif edirik. İcarəyə götürülmüş tent toylar, təşkilatlar, tədbirlər,
                            stendlər və yarmarkalar və etiketlər də daxil olmaqla bütün açıq hava şəraiti üçün
                            uyğundur.
                        </p>
                        <div class="col-12">
                            <div class="youcarta">
                                <a class="youcartaone" href="">Ətraflı</a>
                                <p class="pclassone">Partnyorlar</p>
                                <p class="pclasstwo">Məkanlar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="infotoptwo">
    <div class="container">
        <div class="infotwotext">
            <p>
                Yaz və yaz aylarında tentelərə daha da üstünlük verilir, çünki onların istifadəsi tədbirlərin daha
                asan və uğurlu keçməsi üçün zəruridir. Yay mövsümündə tez-tez yağışdan qorunmaq üçün istifadə edilən
                tentler suya davamlı xüsusiyyətlərə malikdir. Ölkəmizdə keçirilən hər bir tədbirdə hər zaman
                yanınızda olmağa hazırıq.
            </p>
            <hr>
        </div>
    </div>
</div>

<div class="allqaleyra">
    <div class="container">
        <div class="allqaleyraone">
            <div class="row">
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tent1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tent2.18.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tent3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tent4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tent5.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tentson.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tentson1.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tentson2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="~/IMAGE/tentson3.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="inforeason">
    <div class="container">
        <div class="spanline">
            <hr>
        </div>

        <div class="divp col-12">
            <h3>Bizi Seçmək Üçün Səbəblər</h3>
            <p>
                Yaz və yay aylarında tentelərə tələbat yüksəkdir. Yay aylarında günəşdən və yağışdan qorunmaq üçün
                bizim tentelerimizden istifadə edə bilərsiniz. Yaz-yay aylarında yağışdan qorunma vasitəsi kimi daha
                çox məşhur olan tenteler xüsusilə suya davamlıdır. Ölkənin harasında olmağınızdan asılı olmayaraq,
                planlaşdırdığınız hər hansı tədbir üçün orada olmağımızdan asılı ola bilərsiniz.
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="infotopthree">
        <div class="container">
            <div class="infoallthree">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="infoboxthreeone">
                            <a href=""><i class="fa-solid fa-person-circle-check"></i></a>
                            <h4>Müştəri Xidməti</h4>
                            <p>
                                Tent çadırlarımız ve tecrubeli heyetimiz ile Bakinin butun yerlerinde 24 saat xidmet
                                göstəririk.
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="infoboxthreetwo">
                            <a href=""><i class="fa-solid fa-phone"></i></i></a>
                            <h4>Asan Sifariş</h4>
                            <p>
                                Bakı və ətraf rayonlarda tent çadır icarəsi qiymətləri, həmçinin nəqliyyat və
                                quraşdırma haqları haqqında əlavə məlumat üçün bizimlə 24/7 əlaqə saxlaya
                                bilərsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="infoboxthreethree">
                            <a href=""><i class="fa-solid fa-diamond"></i></i></a>
                            <h4>Keyfiyyətə Zəmanət</h4>
                            <p>
                                Tent xidmət sahəsində uzun illər bizi seçdiyiniz etdiyiniz üçün sizə təşəkkür edirik
                                və məhsullarımıza 100% zəmanət veririk.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>