<div class="section">
    <div class="serviceall">
        <div class="col-lg-12 col-12">
            <div class="serviceallbox">
                <h1>Xidmətlərimiz</h1>
                <a href="">Müraciət et</a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="serviceallboxone">
        <div class="container">
            <div class="servis">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="serviceboxone">
                            <i class="fa-solid fa-truck"></i>
                            <h3>Ünvana çatdırılma</h3>
                            <a href="adresscuryer.html">Ətraflı</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="serviceboxtwo">
                            <i class="fa-solid fa-people-group"></i>
                            <h3>İşçi qüvvə</h3>
                            <a href="workforce.html">Ətraflı</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="serviceboxthree">
                            <i class="fa-solid fa-hammer"></i>
                            <h3>Tədbirlər üçün lazım olan avadanlıqkar</h3>
                            <a href="equipment.html">Ətraflı</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="serviceboxfour">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <h3>Peşakarlar tərəfindən ödənişsiz məsləhət</h3>
                            <a href="artisan.html">Ətraflı</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spanline">
    <hr>
</div>