<br>
<div class="carousel">
    <div class="progress-bar progress-bar--primary hide-on-desktop">
        <div class="progress-bar__fill"></div>
    </div>

    <header class="main-post-wrapper">

        <div class="slides">
            <article class="main-post main-post--active">
                <div class="main-post__image">
                    <img src="ASSERTS/IMAGE/tent7.jpg"
                         alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">TENT</span>
                    </div>
                    <h1 class="main-post__title">Tədbirlərinizi tam güvənli şəkildə bizə əmanət edə bilərsiz</h1>
                    <a class="main-post__link" href="#">
                        <span class="main-post__link-text">find out more</span>
                        <svg class="main-post__link-icon main-post__link-icon--arrow" width="37" height="12"
                             viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white" />
                        </svg>
                    </a>
                </div>
            </article>
            <article class="main-post main-post--not-active">
                <div class="main-post__image">
                    <img src="ASSERTS/IMAGE/tent8.jpg" alt="What To Watch For in the 2019 Hungarian Grand Prix" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">Video</span>
                    </div>
                    <h1 class="main-post__title">Ən qısa zamanda video süjet olacaq</h1>
                    <a class="main-post__link" href="#">
                        <svg class="main-post__link-icon main-post__link-icon--play-btn" width="30" height="30"
                             viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="9" stroke="#C20000" stroke-width="2" />
                            <path d="M14 10L8 6V14L14 10Z" fill="white" />
                        </svg>
                        <span class="main-post__link-text">play video</span>
                    </a>
                </div>
            </article>
            <article class="main-post main-post--not-active">
                <div class="main-post__image">
                    <img src="ASSERTS/IMAGE/tent4.jpg" alt="Hamilton wants harder championship fight from Leclerc and
                  Verstappen" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">News</span>
                    </div>
                    <h1 class="main-post__title">
                        İstənilən vaxt sizin istədiklərinizi həyata keçirə bilərik
                    </h1>
                    <a class="main-post__link" href="#">
                        <span class="main-post__link-text">find out more</span>
                        <svg class="main-post__link-icon main-post__link-icon--arrow" width="37" height="12"
                             viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white" />
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </header>

    <div class="posts-wrapper hide-on-mobile">
        <article class="post post--active">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">News</span>
                <p class="post__published">16 August 2019</p>
            </header>
            <h2 class="post__title">
                Qeyd edilən tarixdə görülən tədbir
            </h2>
        </article>
        <article class="post">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">Video</span>
                <p class="post__published">12 August 2019</p>
            </header>
            <h2 class="post__title">Qeyd edilən tarixdə görülən tədbir</h2>
        </article>
        <article class="post">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">News</span>
                <p class="post__published">08 August 2019</p>
            </header>
            <h2 class="post__title">
                Qeyd edilən tarixdə görülən tədbir
            </h2>
        </article>
    </div>
</div>

<div class="gallerytext">
    <div class="container">
        <div class="col-12">
            <h1>BMS TENT</h1>
        </div>
    </div>
</div>

<br>

<div class="allqaleyra">
    <div class="container">
        <div class="allqaleyraone">
            <div class="row">
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tent1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tent2.18.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tent3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tent4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tent5.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tentson.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tentson1.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tentson2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-4" col-md-4 col-12>
                    <div class="qaleyrabox">
                        <img src="ASSERTS/IMAGE/tentson3.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div style="background-color: #005CFF;" class="footer">
    <div class="container my-5">

        <footer class="text-center text-white" style="background-color:#005CFF ;">

            <div class="container">

                <section class="mt-5">

                    <div class="row text-center d-flex justify-content-center pt-5">

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a style="text-decoration: none;" href="#!" class="text-white">Şirkət haqqında</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a style="text-decoration: none;" href="#!" class="text-white">Xidmətlərimiz</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a style="text-decoration: none;" href="#!" class="text-white">Qaleyra</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a style="text-decoration: none;" href="#!" class="text-white">Əlaqə</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a style="text-decoration: none;" href="#!" class="text-white">Ünvan</a>
                            </h6>
                        </div>
                    </div>
                </section>

                <hr class="my-5" />
                <section class="mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <p>
                                Azərbaycanda ən münasib qiymətlərdə çadır icarəsi xidməti təklif edən şirkətimiz,
                                artıq uzun müddətdir ki ölkə bazarında ən çox tələb gorən şirkətlərdən birinə
                                çevrilib.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="text-center mb-5">
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 BMS TENT:
                <a class="text-white" href="index.html">BMSTENT.az</a>
            </div>
        </footer>
    </div>
</div>