<div class="contactimg">
    <div class="col-lg-12 col-12">
        <div class="backimg">
            <div class="colorimg">
                <h1>Əlaqə</h1>
                <p>
                    Bizimlə əlaqə saxlamaq çox asandır. Sizə həftənin 7 günü, 24 saat xidmət etməkdən məmnunun. Tent
                    icarəsi yaxud satışı barədə hər hansı bir sualınız varsa elə indi zəng edə bilərsiniz.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="contacttext">
    <div class="container">
        <div class="col-lg-12">
            <div class="textone">
                <h1>Tent icarəsi barədə suallarınız, təklifiniz var?</h1>
                <p>Müştəri xidməti olaraq sizə həm online gəm də ofisimizdə xidmət göstəririk. </p>
                <span></span>
            </div>
            <div class="texttwo">
                <div class="textboxone">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Bakı şəhəri,Nərimanov küç 12 </p>
                </div>
                <div class="textboxone">
                    <i class="fa-solid fa-envelope"></i>
                    <p>elvinbaki555@gmail.com</p>
                </div>
                <div class="textboxone">
                    <i class="fa-solid fa-phone"></i>
                    <p>070-989-83-00</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="adressbox">
    <div class="container">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.433159512342!2d49.87526096710533!3d40.39925399675165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d4822600ca1%3A0xf774bb2ae226290c!2sClock%20Tower!5e0!3m2!1sen!2saz!4v1692563152469!5m2!1sen!2saz"
                    width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>