<div class="section">
    <div class="company">
        <div class="conatiner">
            <div class="col-lg-12 col-12">
                <div class="companyabout">
                    <div class="companyboxone">
                        <h1>Haqqımızda</h1>
                        <p>
                            Bakı Abadlıq Xidməti (Baku Maintenance Service) 2008-ci ildən öz sahəsində ən yaxşı
                            yaşıllaşdırma, abadlaşdırma, əraziyə qulluq, fasadların təmiri və parkların tikintisi
                            xidmətlərini təqdim edir. Biz həmçinin, ərazinin təmizlənməsi, binanın fasadının
                            yuyulması
                            və s. təmizlik xidmətlərinin göstərilməsi üzrə ixtisaslaşmışıq. Bizim peşəkar və
                            məsuliyyətli menecerlər və bağbanlar komandası müştərilərimizə xidmət göstərmək üçün öz
                            bilik, təcrübə və qabaqcıl texnologiyalardan istifadə edir. Layihələrimizi sabit
                            keyfiyyətlə
                            həyata keçiririk.
                        </p>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="companyboxtwo">
                        <i class="fa-solid fa-user-tie"></i>
                        <h3>İxtisaslaşmış şirkət</h3>
                        <p>İşi görən peşəkarlar sayəsində ixtisaslaşmış şirkətik.</p>
                    </div>
                    <div class="companyboxthree">
                        <i class="fa-solid fa-award"></i>
                        <h3>Etibarlı xidmət</h3>
                        <p>
                            Biz etdiyimiz layihələrlə qürur duyuruq. Həyata keçirdiyimiz işlərin keyfiyyətinə zəmanət
                            veririk, çünki sizin üçün yalnız mütəxəssislər işləyirlər.
                        </p>

                    </div>

                    <div class="companyboxfour">
                        <i class="fa-solid fa-hourglass-start"></i>
                        <h3>Vaxta nəzarət</h3>
                        <p>Hər bir layihə vaxtında başa çatır və büdcədən kənara çıxılmır. Layihənin mərhələli maliyyələşdirilməsi mümkündür.</p>
                    </div>

                    <div class="companyboxfive">
                        <i class="fa-solid fa-chevron-right"></i>
                        <h3>Mötəbər şirkət</h3>
                        <p>10 ildən çox müddət ərzində biz vicdanlı xidmət və əla işimizlə nüfuz qazanmışıq.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>