<div class="adresscuryerall">
    <div class="container">
        <div class="adresscuryer">
            <div class="adresscuryerbox">
                <a href="">Zəng et</a>
                <a href="">Whatsapp</a>
            </div>
        </div>
    </div>
</div>

<div class="adresscuryerboxone">
    <div class="container">
        <div class="aboxone">
            <h1>Ünvana çatdırılma</h1>
            <p>
                Biz bütün avadanlıqları və işçilırimizi özümüz öz maşınlarımızla ünvanınıza çatdırırıq istınılın
                vaxta . Siz bizə öncədən məlumat verirsiz yerin ünvanını istənilən bölgəyə gətirmə aparma tam olaraq
                ödənişsidir və tentlərmizi maşınlardan bolaşdıb təyin etdiyiniz yerdə qurmağa başlayırı
            </p>
            <div class="spanline">
                <hr>
            </div>
        </div>
    </div>
</div>